.c{
    width: 500px;
    height: 500px;
    background-color: bisque;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: space-between;
}
.a{
    width: 100px;
    height: 100px;
}
#a{
    background-color: aqua;
    position: relative;
    margin-top: 10px;
    color: black;
   
}
#b{
    background-color: red;
    position: absolute;
    margin-left: 100px;
      
}
#d{
    background-color: red;
    position: fixed;
    margin-left: 200px;
    margin-top: 100px;

      
}
#c{
    background-color: greenyellow;
    
    
}